{{>navDetails}}

<p>This is the Child Profile</p>

{{#with childDetails}}
    <h1>Details for {{alias}}</h1>
    <p>Firstname: {{firstname}}</p>
    <p>Lastname: {{lastname}}</p>
    <p>Birthdate: {{birthdate}}</p>
	<p>Street: {{street}}</p>
    <p>House Number: {{houseNumber}}</p>
    <p>City: {{city}}</p>
	<p>Zipcode: {{zipCode}}</p>
	
	<div><a href="/child/{{_id}}/edit">Edit Childprofile ✏️</a></div>
	<div><a href="/child/{{_id}}/delete">Delete Childprofile ❌</a></div>

{{#each parent}}
<div>{{username}}</div>
<div>{{lastname}}</div>	

{{/each }}

	<p>Find a parent by username: </p>

<form action="/connectParent/{{_id}}" method="POST">
<label for="username">Username</label>
<input type="text" name="username" id="username">


<button type="submit">Connect a parent</button>
</form>
{{/with}}

<canvas id="myChart" width="400" height="400"></canvas>

<script src="/js/charts.js"></script>