{{>navDetails}}

{{#with childDetails}}
    <h2>Details for {{firstname}} {{lastname}}</h2>
    {{!-- <p>Birthdate: {{birthdate}}</p> --}}
    
<p>Parent(s):</p> 
{{#each parent}}
<div><h2>{{firstname}} {{lastname}}</h2></div>	
<div>{{username}}</div>
{{/each }}
<p></p>
<p>Find a parent by username: </p>
<form action="/connectParent/{{_id}}" method="POST">
	<label for="username">Username</label>
	<input type="text" name="username" id="username">
	<button type="submit">Connect a parent</button>
</form>
<p></p>
	<a href="/child/{{_id}}/edit">Edit Childprofile ✏️</a>
	<a href="/child/{{_id}}/delete">Delete Childprofile ❌</a>


{{/with}}


<canvas id="myChart" width="400" height="400"></canvas>

<script src="/js/charts.js"></script>