<h2>this is your profile</h2>

{{user.username}}
{{user.firstname}}
{{user.lastname}}
{{user.street}}


{{#each user.child}}
<div><a href="/child/{{_id}}/parent">{{alias}}</a> </div>
<div>{{lastname}}</div>	
<div>{{status}}</div>	
{{/each }}
<a href="/logout">Logout</a>