

<h2>This is your Admin Profile {{user.username}}</h2>

{{#each childrenList}}
    <div><h3><a href="/child/{{_id}}">{{alias}}</a></h3></div>

    <form action="/child/{{_id}}/status" method="POST">
        <label for="status">Switch on and of status</label>
        <input type="text" name="status" id="status" value="{{status}}">
        <button type="submit">Change status</button> 
    </form>
{{/each}}





<div><a href="/addClassroom">Add a Classroom</a></div>
<div><a href="/addChild">Add a Child</a></div>
<a href="/logout">Logout</a>